.container{
  display:flex;
  flex-direction:column;
  margin-bottom: 1.3rem;

}

.select-label{
  padding:0 0 0.1rem 0.8rem;
  font-family:"Roboto","Helvetica","Arial","sansserif";
  font-size:0.75rem;
  color:#a5a5a5;
  
}


.select{
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  padding:1rem;
  width:100%;
  max-width: 266px;
  border:none;
  border-bottom:2px solid rgba(19, 19, 21, 0.6);
  font-size: 1.0625rem;
  transition:all 0.2s;
  font-family:"Roboto","Helvetica","Arial","sansserif";
  
}

.select:focus{
  outline:none;
  border-color:#1e4bd1;
}
